mi-nav { 
  display: block;
  
  background-color: navy;
}

mi-nav ul {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: orangered;
}

mi-nav ul>li {
  float: left;
}


mi-nav li a {
  display: block;
  color: yellow;
  border-color: black 2px; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

mi-nav li a:hover:not(.active) {
  background-color: yellow;
  color: black;
  border-color: black 2px; 
}
mi-nav li:hover>ul{
  display:block;
  position:absolute;
  float: none;
  top:30px;
  left:100px;
}

mi-nav li a.active {
  color: black;
  background-color:yellow;
  border-color: black 2px; 

}

@media screen and (max-width: 900px) {
  mi-nav ul {
    width: 100%;
    height: auto;
    position: relative;
  }
  
 mi-nav ul li a {
    float: left;
    padding: 15px;
  }
  
}

@media screen and (max-width: 400px) {
 mi-nav ul li a {
    text-align: center;
    float: none;
  }
}


